.footer {
   position: relative !important;
   &__content {
      flex-direction: column;
      display: flex;
      min-height: 100vh;
   }

   &__container {
      flex: 1 1 auto;
      position: relative;
      z-index: 2;
      width: 100%;
      bottom: 0;
      left: 0;
   }

   &__body {
      @include adaptiv-value("margin-top", 96, 00, 1);
      display: flex;
   }

   &__column {
      display: flex;
      justify-content: center;
      height: 527px;
      &:last-child {
         align-items: center;
         flex: 0 0 50%;
      }
      &:first-child {
         flex: 0 1 50%;
         position: relative;
         margin: 0px 20px 0px 0px;
         &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 527px;
            top: 0;
            left: 0;
            background: url("../img/Balloons/balloon3.png") 50% 0 no-repeat;
         }
      }
      @media (max-width: 785px) {
         &:last-child {
            display: none;
         }
         &:first-child {
            flex: 1 1 100%;
            margin: 0;
         }
      }
      @media (max-width: 375px) {
         &::after {
            transform: scale(0.8);
         }
      }
   }

   &__balloon {
      width: 356px;
      position: relative;
      z-index: 2;
      @media (max-width: $md4+px) {
         width: 100%;
      }
   }

   &__title {
      font-family: "Balqis";
      line-height: 115 / 86 * 100%;
      @include adaptiv-font(86, 56, 1);
      color: #000000;
   }

   &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      min-height: 100vh;
      img {
      }
   }
}
.balloon {
   text-align: center;
   &__title {
      display: inline-flex;
      justify-content: center;
      margin: 70px 0px 40px 0px;
      color: #e2ab3f;
      font-family: "Balqis";
      @include adaptiv-font(86, 56, 1);
      @media (max-width: $md4+px) {
         margin: 90px 0px 20px 0px;
      }
   }

   &__tel {
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
         display: inline-flex;
         color: #e2ab3f;
         margin: 0px 10px 0px 0px;
         transition: all 0.3s ease 0s;
         font-size: 30px;
      }
      margin: 0px 0px 20px 0px;
      @extend .text_sm;
      @media (min-width: $md2+px) {
         &:hover {
            &::before {
               color: #000;
            }
         }
      }
   }

   &__email {
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
         display: inline-flex;
         margin: 0px 10px 0px 0px;
         font-size: 30px;
         transition: all 0.3s ease 0s;
      }
      margin: 0px 0px 20px 0px;
      @extend .text_sm;
      @media (min-width: $md2+px) {
         &:hover {
            &::before {
               color: #000;
            }
         }
      }
   }

   &__social {
      margin: 20px 0px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 30px;
   }

   &__social-item {
      margin: 0px 15px 0px 0px;
      &::before {
         transition: all 0.3s ease 0s;
      }
      &:last-child {
         margin: 0px 0px 0px 0px;
      }
      @media (min-width: $md2+px) {
         &:hover {
            &::before {
               color: #000;
            }
         }
      }
   }
}
