.btn {
    font-weight: 300;
    text-transform: uppercase;
    @extend .link;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: rem(50);
    padding: 0px rem(20);
    background-color: $white;
    border: rem(1) solid $primary;
    transition: background-color 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: $primary;
        }
    }
}
