//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    width: rem(383);
    @extend .text_sm;
    height: rem(50);
    display: inline-flex;
    align-items: center;
    padding: 0px rem(10);
    background-color: $white;
    border: rem(1) solid $primary;
    @media (max-width: $mobileSmall) {
        width: 100%;
    }

    &._form-focus {
    }

    &._form-error {
        border: rem(1) solid red;
        color: red;
    }
}
