//<ОСНОВНОЙ БЛОК>====================================================================================================
.link {
    font-size: rem(24);
    line-height: math.div(28, 24);
    color: $mainColor;
}

.title {
    font-family: "Balqis";
    @include adaptiveValue("font-size", 96, 55, 1200, 479.98, 1);
    line-height: math.div(128, 96);
    color: $primary;
}

.subtitle {
    font-style: italic;
    font-weight: 300;
    @extend .link;
    @include adaptiveValue("font-size", 24, 18, 991.98, 479.98, 1);
}

.text_sm {
    font-weight: 300;
    font-size: rem(18);
    line-height: math.div(21, 18);
    color: $mainColor;
}
