//<ОСНОВНОЙ БЛОК>====================================================================================================
.link {
    font-size: 24px;
    line-height: 28 / 24 * 100%;
    color: #000;
}

.title {
    font-family: "Balqis";
    @include adaptiv-font(96, 55, 1);
    line-height: 128 / 96 * 100%;
    color: #e2ab3f;
}

.subtitle {
    font-style: italic;
    font-weight: 300;
    @extend .link;
    @include adaptiv-font(24, 18, 1);
}

.text_sm {
    font-weight: 300;
    font-size: 18px;
    line-height: 21 / 18 * 100%;
    color: #000000;
}
