.home {
    position: relative;
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__container {
        flex: 1 1 auto;
        position: relative;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__body {
        padding: rem(100) 0px;
        @include adaptiveValue("margin-top", -350, 200, 0);
        @media (max-width: $tablet) {
            margin-top: rem(-20);
        }
    }

    &__title {
        display: inline-flex;
        font-family: "Balqis";
        @include adaptiveValue("font-size", 250, 70, 1200, 479.98, 1);
        line-height: math.div(334, 250);
    }

    &__subtitle {
        @include adaptiveValue("margin-top", -70, -20, 1200, 479.98, 1);
        justify-content: flex-end;
        display: flex;
        font-style: italic;
        font-weight: 300;
        @include adaptiveValue("font-size", 56, 20, 1200, 479.98, 1);
        line-height: math.div(66, 56);
    }

    &__bg-ibg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.tail {
    &__content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @media (min-width: $tablet) {
            position: relative;
            flex-wrap: nowrap;
            display: flex;
            margin: 0px rem(-23);
        }
    }

    &__top {
    }

    &__body {
    }

    &__slider {
        position: relative;
        order: 1;
        flex: 1 1 100%;
        min-height: 50vh;
        margin-bottom: rem(30);
        @media (min-width: $tablet) {
            margin: 0;
            flex: 0 0 50%;
        }
        .swiper-wrapper {
        }
    }

    &__item-ibg {
        height: 100%;
    }

    &__navigation {
        padding: 0px rem(23);
        position: absolute;
        width: 50%;
        top: 50%;
        transform: translate(0px, -50%);
        left: 0;
        display: flex;
        justify-content: space-between;
        @media (max-width: $tablet) {
            top: 25vh;
            padding: 0px rem(10);
            width: 100%;
        }
    }

    &__arrow {
        &::before {
            transition: color 0.3s ease 0s;
            @include adaptiveValue("font-size", 70, 50, 1200, 479.98, 1);
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    color: $mainColor;
                }
            }
        }
        &_prev {
        }

        &_next {
        }
    }
}
.top-tail {
    @include adaptiveValue("margin-bottom", 100, 40, 1200, 479.98, 1);
    &__container {
    }

    &__title {
    }

    &__subtitle {
        @include adaptiveValue("margin-top", -25, -15, 1200, 479.98, 1);
        @include adaptiveValue("margin-left", 180, 105, 1200, 479.98, 1);
    }
}
.body-tail {
    order: 2;
    @media (min-width: $tablet) {
        transform: translate(-50%, 0px);
        flex: 0 0 100%;
    }
    &__container {
    }

    &__inner {
        @media (min-width: $tablet) {
            transform: translate(100%, 0px);
            width: 50%;
            padding: rem(45) 0px rem(45) rem(55);
        }
    }

    &__text {
        @extend .text_sm;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 20, 1200, 479.98, 1);
        }
        span {
            font-weight: 400;
        }
    }

    &__list {
        @extend .text_sm;
        @include adaptiveValue("margin-bottom", 50, 20, 1200, 479.98, 1);
    }
}

//========================================================================================================================================================

.trip {
    display: flex;
    @media (max-width: $tablet) {
        flex-wrap: wrap;
    }
    &__content {
        flex: 0 0 100%;
        @media (max-width: $tablet) {
            flex: 1 1 100%;
        }
    }

    &__slider {
        position: relative;
        flex: 0 0 50%;
        transform: translate(-100%, 0px);
        @media (max-width: $tablet) {
            flex: 1 1 100%;
            transform: translate(0px, 0px);
        }
    }
    &__navigation {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0px, -50%);
        left: 0;
        display: flex;
        justify-content: space-between;
    }

    &__arrow {
        &::before {
            transition: color 0.3s ease 0s;
            @include adaptiveValue("font-size", 70, 50, 1200, 479.98, 1);
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    color: $mainColor;
                }
            }
        }
        &_prev {
        }

        &_next {
        }
    }
}

.content-trip {
    order: 2;
    &__container {
    }

    &__top {
        width: 50%;
        @include adaptiveValue("margin-bottom", 108, 30, 1200, 479.98, 1);
        padding-right: rem(55);
        @media (max-width: $tablet) {
            width: 100%;
            padding: 0;
        }
    }

    &__title {
    }

    &__subtitle {
        @include adaptiveValue("margin-top", -25, -15, 1200, 479.98, 1);
        @include adaptiveValue("margin-left", 242, 140, 1200, 479.98, 1);
    }

    &__body {
        padding-right: rem(55);
        width: 50%;
        @media (max-width: $tablet) {
            width: 100%;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            margin: 0px rem(-10);
            justify-content: center;
        }
        @media (max-width: $mobile) {
            margin: 0;
            justify-content: flex-start;
        }
    }

    &__list {
        @extend .link;
        @include adaptiveValue("margin-bottom", 50, 20, 1200, 479.98, 1);
        @media (max-width: $tablet) {
            flex: 0 1 50%;
            padding: 0px rem(10);
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            padding: 0;
        }
    }

    &__label {
        @include adaptiveValue("margin-bottom", 20, 10, 1200, 479.98, 1);
    }

    &__item {
        font-weight: 300;
    }

    &__btn {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}

.slider-trip {
    order: 1;
    min-width: 0;
    @media (max-width: $tablet) {
        margin-bottom: rem(20);
    }
    &__body {
        position: relative;
        height: 100%;
        .swiper-wrapper {
            height: 100% !important;
        }
    }

    &__item-ibg {
        min-height: 100%;
        @media (max-width: $tablet) {
            min-height: 50vh;
        }
    }
}

//========================================================================================================================================================

.hotel {
    &__container {
    }

    &__top {
        @include adaptiveValue("margin-bottom", 100, 30, 1200, 479.98, 1);
    }

    &__title {
    }

    &__subtitle {
        @include adaptiveValue("margin-top", -25, -15, 1200, 479.98, 1);
        @include adaptiveValue("margin-left", 120, 80, 1200, 479.98, 1);
    }

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__column {
        flex: 0 0 50%;
        &:first-child {
            flex: 0 1 rem(500);
            position: relative;
            margin-right: rem(20);
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            &:first-child {
                display: none;
            }
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__info {
    }

    &__text {
        @include adaptiveValue("margin-bottom", 20, 10, 1200, 479.98, 1);
        @extend .text_sm;
        &:last-child {
            @include adaptiveValue("margin-bottom", 30, 10, 1200, 479.98, 1);
        }
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
    }

    &__gallery-row {
        display: flex;
        flex: 1 1 100%;
        justify-content: space-between;
        @include adaptiveValue("margin-top", 50, 10, 1200, 479.98, 1);
    }

    &__gallery-column {
        position: relative;
        padding-bottom: 25%;
        flex: 0 1 rem(280);
        min-height: rem(120);
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
        @media (max-width: $mobile) {
            flex: 0 1 50%;
            padding-bottom: 30%;
        }
    }

    &__gallery-item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: transform 0.5s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
//========================================================================================================================================================

.price {
    &__container {
    }

    &__top {
        @include adaptiveValue("margin-bottom", 100, 30, 1200, 479.98, 1);
        @media (max-width: $tablet) {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: rem(73);
                height: rem(108);
                top: 0;
                right: 0;
                background: url("@img/Balloons/balloon1.png") 0 0 no-repeat;
            }
        }
    }

    &__title {
    }

    &__subtitle {
        @include adaptiveValue("margin-top", -25, -15, 1200, 479.98, 1);
        @include adaptiveValue("margin-left", 121, 70, 1200, 479.98, 1);
    }

    &__footer {
        display: flex;
        position: relative;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: rem(206);
            height: rem(305);
            right: 0;
            background: url("@img/Balloons/balloon2.png") top right no-repeat;
            transform: translate(50%, -40%);
            @media (max-width: em(1440)) {
                transform: translate(0%, -40%);
            }
            @media (max-width: $tablet) {
                display: none;
            }
        }
    }

    &__column {
        flex: 0 1 50%;
        @include adaptiveValue("padding-right", 70, 0, 0);
        @media (max-width: $tablet) {
            &:last-child {
                padding: 0;
            }
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            &:not(:last-child) {
                margin-bottom: rem(40);
            }
        }
        &:last-child {
            position: relative;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: rem(73);
                height: rem(108);
                right: 0;
                background: url("@img/Balloons/balloon1.png") 0 0 no-repeat;
                @media (max-width: $pc) {
                    display: none;
                }
            }
            &::before {
                top: 0;
                transform: translate(-200%, 50%);
                @media (max-width: em(1440)) {
                    transform: translate(-300%, 50%);
                }
            }
            &::after {
                bottom: 0;
                transform: translate(-100%, 0px);
                @media (max-width: em(1440)) {
                    transform: translate(-200%, 0%);
                }
            }
        }
    }

    &__body {
        position: relative;
        z-index: 2;
    }

    &__list {
    }

    &__list-label {
        @extend .link;
        @include adaptiveValue("margin-bottom", 50, 20, 1200, 479.98, 1);
    }

    &__list-item {
        @extend .text_sm;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 15, 1200, 479.98, 1);
        }
    }
}

//========================================================================================================================================================

.regist {
    &__container {
    }

    &__content {
        display: flex;
    }

    &__column {
        flex: 0 1 50%;
        &:first-child {
            padding: rem(100) rem(30);
        }
        &:last-child {
            position: relative;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            &:first-child {
                padding: 0px rem(30);
            }
            &:last-child {
                display: none;
            }
        }
        @media (max-width: $mobileSmall) {
            &:first-child {
                padding: 0;
            }
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__top {
        @include adaptiveValue("margin-bottom", 100, 30, 1200, 479.98, 1);
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__date {
        @include adaptiveValue("margin-left", 76, 20, 1200, 479.98, 1);
        @media (max-width: $mobile) {
            margin: 0;
        }
    }

    &__date-subtitle {
        @include adaptiveValue("margin-top", -22, -15, 1200, 479.98, 1);
        @include adaptiveValue("margin-left", 217, 80, 1200, 479.98, 1);
    }

    &__price {
        @media (min-width: $mobile) {
            @include adaptiveValue("margin-left", 198, 20, 1200, 479.98, 1);
        }
    }

    &__price-subtitle {
        @include adaptiveValue("margin-top", -22, -15, 1200, 479.98, 1);
        @include adaptiveValue("margin-left", 320, 100, 1200, 767.98, 1);
    }

    &__form {
        text-align: center;
    }

    .form {
        &__error {
            margin-top: rem(10);
            @extend .text_sm;
        }
    }
    &__label {
        @extend .link;
        @include adaptiveValue("margin-bottom", 50, 20, 1200, 479.98, 1);
    }

    &__input-name {
        @include adaptiveValue("margin-bottom", 20, 10, 1200, 479.98, 1);
    }

    &__input-tel {
        @include adaptiveValue("margin-bottom", 20, 10, 1200, 479.98, 1);
    }

    &__btn {
        padding: 0px rem(45);
        @media (max-width: $mobileSmall) {
            padding: 0 rem(20);
            width: 100%;
        }
    }
}
